main {
  background-color: black;
  overflow: hidden;
  position: fixed;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#menuBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #3c3c3c;
  justify-items: center;
}

#menuBar a {
  color: #b1b1b1;
  padding: 0 2em;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#menuBar a p {
  margin: auto 0;
}

#menuBar a:hover {
  text-decoration: none;
  background-color: #323232;
}

#restOfStuff {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.icon {
  height: 2em;
}

#iconSideBar {
  background-color: #333333;
}

#iconSideBar a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#iconSideBar a:hover {
  background-color: #444;
  text-decoration: none;
}

#linkSideBar span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.4em;
  color: white;
}

hr {
  height: 2px;
  color: gray;
  background-color: gray;
  margin: 0px;
}

#linkSideBar {
  width: 15em;
  background-color: #252526;
}

#linkSideBar a {
  display: block;
  height: 1.7em;
  padding-left: 6px;
}

#linkSideBar a:hover {
  background-color: #333333;
  text-decoration: none;
}

#theRest {
  width: 10vw;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#topBar {
  background-color: #252526;
  width: 100%;
  height: 2.1em;
}

#topBar a {
  display: inline-block;
  height: 100%;
  padding: 0.2em 1em;
  min-width: 120px;
  border-style: none double solid double;
  border-color: #111;
  border-radius: 5px;
  color: #aaa;
}

#topBar a:hover {
  background-color: #aaa;
  color: black;
  text-decoration: none;
}

#chevrons {
  background-color: #161616;
  color: lightgrey;
}

#chevrons span {
  margin-left: 1em;
}

#textArea {
  padding-top: 2em;
  padding-bottom: 90vh;
  background-color: #1e1e1e;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  overflow: hidden auto;
  height: 10vh;
}

.editorLines {
  min-height: 1.3em;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.editorLines span {
  color: #888;
}

.nambah {
  text-align: right;
  display: inline-block;
  padding-left: 0.4em;
  /* background-color:#2a2a2a;*/
  width: 2em;
}

.editables {
  width: 100%;
  display: inline-block;
  margin: 0 1em;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.editables:focus {
  outline: rgba(255, 255, 255, 0.1) solid 1px;
  color: white;
}

.editorLines:hover {
  background-color: #252526;
}

@media (max-width: 500px) {
  main {
    display: none;
  }
  body::after {
    content: "Sorry but your screen is too small I think";
  }
}
/*# sourceMappingURL=style.css.map */